.search1 {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-bottom: 5%;
    margin-top: 5%;
  }
  
  /* On mouse-over, add a deeper shadow */
  .search1:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  .sortButton{
      padding: 3%;
      margin: 5%;
      background-color:#f7f7f7;
      color:black;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      transition: 0.3s;
      border-radius: 10%;
  }
  .sortButton:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  #sortOption{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;   
  }
  #sortOption:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .filter_heading{
    color:rgb(255,51,51)
  }
